* {
    margin: 0;
    padding: 0
}

body {
    background-color: #000
}



.card {
    margin-top: -8rem;
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
@media (min-width:992px){
    
.card:hover {
    transition: all 0.5s;
    transform: scale(1.2)
}
}

.cv{
    margin: 2px;
    align-self: center;
    width: 50%;
    border: 1px solid #0a0a0a;
    border-radius: 12px
}
.cv:hover{
    background-color: #000;
    color: #fff;
}