.footer{
    text-align: center;
    padding: 5px;
    margin-top: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        color: #0c0c0c;
    }
    a:hover{
        color: #0c0c0c;
    }
    svg{
        font-size: 28px;
    }
}